[submodule "rtems"]
	path = rtems
	url = https://github.com/grisp/rtems
[submodule "rtems-libbsd"]
	path = rtems-libbsd
	url = https://github.com/grisp/rtems-libbsd
[submodule "rtems-source-builder"]
	path = rtems-source-builder
	url = https://github.com/grisp/rtems-source-builder
[submodule "libinih/inih"]
	path = libinih/inih
	url = https://github.com/grisp/inih
