[submodule "rtems"]
	path = rtems
	url = git://git.rtems.org/rtems.git
	branch = master
[submodule "rtems-libbsd"]
	path = rtems-libbsd
	url = git://git.rtems.org/rtems-libbsd.git
	branch = 5-freebsd-12
[submodule "rtems-source-builder"]
	path = rtems-source-builder
	url = git://git.rtems.org/rtems-source-builder.git
	branch = master
[submodule "libinih/inih"]
	path = libinih/inih
	url = https://github.com/grisp/inih
	branch = master
